{% extends 'base.html.twig' %}

{% block title %}
   Post n°{{post.id}} : {{post.title}}
{% endblock %}

{% block body %}
{% set rating     = post.rating %}
{% set comments   = post.comments | length %}
<!-- L'Image de la Video -->
<header class="d-flex align-items-center header-show-post" style="background-image: url(/uploads/images/{{post.image}})">
   <div class="container">
      <div class="row">
         <div class="col-md-8 col-sm-12">
            <!-- Title -->
            <h1>{{post.title}}</h1>
            <!-- Introduction -->
            <p class="my-3">{{post.introdution}}</p>
            <!-- Rating Likes CreatedAt-->
            <div>
               <!-- Rating -->
               {% if rating != 0 %}
                  {% for i in 1..post.rating | round %}
                     <i class="fas fa-star"></i>
                  {% endfor %}
               {% endif %}
               <span class="ml-2 mr-3">
                  {{rating | number_format(1, '.', ',')}}
                  ({{comments}} avis)
               </span>
               <!-- Likes -->
               5 <i class="fas fa-thumbs-up ml-1"></i>
            </div>
            <!-- Creator -->
            <div class="my-3">
               Publié par : <a href="{{ path('user_show', {'id': post.author.id, 'slug': post.author.slug}) }}" class="text-dark"><strong>{{post.author.fullName}}</strong></a>
               <span class="ml-3 created-at">
                  <span>Publié à : </span>
                  <strong>{{post.createdAt | date("d/m/Y")}}</strong>
               </span>
            </div>
            <!-- Modification et suppression du poste -->
            {% if app.user and app.user == post.author %}
               <div>
                  <a href="{{ path('post_edit', {'id': post.id, 'slug': post.slug}) }}" class="btn btn-md btn-primary m-0" title="Vous pouvez modifier ce poste en cliquant ici">
                     <i class="fas fa-pen"></i>
                  </a>
                  <a href="{{ path('post_delete', {'id': post.id, 'slug': post.slug}) }}" class="btn btn-md btn-danger m-0" title="Vous pouvez supprimer ce poste en cliquant ici" onclick="return confirm('Voulez-vous vraiment supprimer ce poste?')">
                     <i class="fas fa-trash"></i>
                  </a>
               </div>
            {% endif %}
         </div>
      </div>
   </div>
</header>
<main class="main-show-post mt-3">
   <!-- Carousel et la description de la vidéo -->
   <div class="container">
      <div class="row">
         <!-- Carousel -->
         <div class="col-md-8 col-sm-12">
            <!--Carousel Wrapper-->
            <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
               <!--Indicators-->
               <ol class="carousel-indicators">
                  {% for image in post.images %}
                     <li data-target="#carousel-example-2" data-slide-to="{{ loop.index0 }}" class="{% if loop.first %} active {% endif %}"></li>
                  {% endfor %}
               </ol>
               <!--/.Indicators-->
               <!--Slides-->
               <div class="carousel-inner" role="listbox">
                  {% for image in post.images %}
                     <div class="carousel-item {% if loop.first %} active {% endif %}">
                        <div class="view">
                           <img class="d-block w-100" src="/uploads/carousel/{{ image.img }}"
                           alt="{{ image.caption }}" height="500">
                           <div class="mask rgba-black-light"></div>
                        </div>
                        <div class="carousel-caption">
                           <h3 class="h3-responsive">{{ image.post.title }}</h3>
                           <p>{{ image.caption }}</p>
                        </div>
                     </div>
                  {% endfor %}
               </div>
               <!--/.Slides-->
               <!--Controls-->
               <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
               </a>
               <!--/.Controls-->
            </div>
            <!--/.Carousel Wrapper-->
         </div>
         <!--/.Carousel Wrapper-->
         <!-- La description -->
         <div class="col-md-4 col-sm-12">
            <h3 class="mb-3">Description de la vidéo</h3>
            <p class="description">{{post.description}}</p>
         </div>
      </div>
   </div>
   <!-- Séparateur -->
   <hr class="my-5">
   <!-- La Vidéo -->
   <div class="container">
      <div class="row">
         <div class="col-md-8 col-sm-12 d-flex justify-content-center align-items-center">
            <video controls controlslist width="100%">
               <source src="/uploads/videos/{{post.video}}" type="video/mp4">
               <p>Votre navigateur ne supporte pas le tag de la vidéo, Veuillez choisir un navigateur qui prend en charge les vidéos comme par exemple (Chrome, FireFox).</p>
            </video>
         </div>
      </div>
   </div>
   <!-- Séparateur -->
   <hr class="my-5">
   <!-- Le créateur et son description -->
   <div class="container">
      <!-- Le créateur -->
      <div class="row">
         <!-- Les Informations de l'utilisateur -->
         {% set user = post.author %}
         <div class="col-md-4 col-sm-6">
            {% include 'cards/card_user.html.twig' %}
         </div>
         <!-- Description de l'utilisateur -->
         <div class="col-md-8 col-sm-6">
            <h3><span class="bord">A</span> le créateur</h3>
            <p>{{post.author.description}}</p>
         </div>
      </div>
   </div>
   <!-- Séparateur -->
   <hr class="my-5">
   <!--Les commentaires -->
   <div class="container">
      <!-- Les commentaires -->
      {% if post.comments %}
         <h3 class="mb-5"><span class="bord">Merci</span> pour vos commentaires</h3>
         {% for comment in post.comments %}
            <div class="row">
               <div class="col-md-2 col-sm-12 mb-3 mb-md-0 text-center">
                  <img src="/uploads/picture/{{ comment.author.picture }}" alt="Photo de {{ comment.author.fullName }}" title="{{ comment.author.fullName }}" class="pic-rounded mini-pic-rounded mb-1">
                  <h6>{{comment.author.fullName}}</h6>
               </div>
               <div class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center flex-column">
                  <span>
                     {% for i in 1..comment.rating %}
                        <i class="fas fa-star"></i>
                     {% endfor %}
                  </span>
                  <q><em>{{ comment.content }}</em></q>
                  <span class="text-muted mt-2">{{ comment.createdAt | date('d/m/Y') }}</span>
               </div>
            </div>
            <hr class="my-3 w-50 {% if loop.last %}d-none{% endif %}">
         {% endfor %}

         {% else %}
         <div class="alert alert-warning">N'y a aucun commentaire pour le moment.</div>
      {% endif %}
      <!-- Séparateur -->
      <hr class="my-3">
      <!-- Si L'utilisateur n'étant pas connecté -->
      {% if app.user is null %}
         <div class="alert alert-warning mt-5">
            <p>Vous voulez poster un commentaire?</p>
            <p>EH bien vous pouvez le faire en vous connectant ou en vous inscrivant.</p>
         </div>
      {% endif %}
      <!-- Si l'utilisateur a déja fait un commentaire -->
      {% if app.user and post.hasCommentPost(app.user) %}
         <div class="alert alert-success mt-5 w-auto">
            <p>Vous avez déja fait un commentaire</p>
            <p>Merci à vous.</p>
         </div>
      {% endif %}
      <!-- Si l'utilisateur est le créateur de poste -->
      {% if app.user and post.author == app.user %}
         <div class="alert alert-warning mt-5">
            <p>Vous êtes le créateur de poste</p>
            <p>Eh bien vous ne pouvez malheureusement pas poster des commentaires.</p>
         </div>
      {% endif %}
      <!-- Nouveau commentaire -->
      {% if form %}
         <hr class="my-3">
         <div class="row">
            <div class="col-md-8 col-sm-12">
               <h3>Vous avez aimé ce poste?</h3>
               <p class="mt-3">Eh bien vous pouvez laisser un commentaire et n'hésiter pas à laisser une note</p>
               {{ form_start(form) }}
                  <div class="form-group">
                     {{ form_widget(form.content) }}
                     {{ form_errors(form.content) }}
                     {{ form_help(form.content) }}
                  </div>
                  <div class="form-group">
                     {{ form_widget(form.rating) }}
                     {{ form_errors(form.rating) }}
                     {{ form_help(form.rating) }}
                  </div>
                  <div class="form-group">
                     <button type="submit" class="btn btn-primary">
                        <i class="fas fa-plus mr-2"></i>
                        Je commente
                     </button>
                  </div>
               {{ form_end(form) }}
            </div>
         </div>
      {% endif %}
   </div>
</main>
{% endblock %}